@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

html{
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  background-color: #eee;
  overflow: scroll;
  font-family: 'Merriweather', serif;
}

